<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuestRoll"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".main.ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuestRoll"/>
        <activity
            android:name=".feature_loading.LoadingActivity"
            android:exported="true"
            android:theme="@style/Theme.QuestRoll">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature_character.ui.wizard.CharacterWizardActivity"
            android:parentActivityName=".main.ui.MainActivity" />
        <activity android:name=".feature_character.ui.list.CharacterListActivity"/>
        <activity android:name=".feature_item.item_set.ui.CustomItemSetCreateActivity"/>
        <activity android:name=".feature_item.item_set.ui.CustomItemSetDetailActivity"/>
        <activity android:name=".feature_item.item_set.ui.ItemSetDetailActivity"/>
        <activity android:name=".feature_item.item_set.ui.ItemSetListActivity"/>
        <activity android:name=".feature_spell.spell_school.ui.SpellSchoolListActivity"/>
        <activity android:name=".feature_spell.spell_school.ui.SpellSchoolDetailActivity"/>
        <activity android:name=".feature_spell.spell_school.ui.CustomSpellSchoolCreateActivity"/>
        <activity android:name=".feature_spell.spell_school.ui.CustomSpellSchoolDetailActivity"/>
        <activity android:name=".feature_item.item_category.ui.ItemCategoryListActivity"/>
        <activity android:name=".feature_item.item_category.ui.ItemCategoryDetailActivity"/>
        <activity android:name=".feature_item.item_category.ui.CustomItemCategoryCreateActivity"/>
        <activity android:name=".feature_item.item_category.ui.CustomItemCategoryDetailActivity"/>
        <activity android:name=".feature_creature.creature_type.ui.CreatureTypeDetailActivity"/>
        <activity android:name=".feature_creature.creature_type.ui.CreatureTypeListActivity"/>
        <activity android:name=".feature_creature.creature_type.ui.CustomCreatureTypeCreateActivity"/>
        <activity android:name=".feature_creature.creature_type.ui.CustomCreatureTypeDetailActivity"/>
        <activity android:name=".feature_condition.ui.ConditionListActivity"/>
        <activity android:name=".feature_condition.ui.ConditionDetailActivity"/>
        <activity android:name=".feature_condition.ui.CustomConditionCreateActivity"/>
        <activity android:name=".feature_condition.ui.CustomConditionDetailActivity"/>
        <activity android:name=".feature_rule.rule_set.ui.RulesetListActivity"/>
        <activity android:name=".feature_rule.rule.ui.RuleDetailActivity"/>
        <activity android:name=".feature_rule.rule.ui.RuleListActivity"/>
        <activity android:name=".feature_environment.ui.EnvironmentListActivity"/>
        <activity android:name=".feature_environment.ui.EnvironmentDetailActivity"/>
        <activity android:name=".feature_environment.ui.CustomEnvironmentCreateActivity"/>
        <activity android:name=".feature_environment.ui.CustomEnvironmentDetailActivity"/>
        <activity android:name=".feature_service.ui.ServiceListActivity"/>
        <activity android:name=".feature_service.ui.ServiceDetailActivity"/>
        <activity android:name=".feature_service.ui.CustomServiceCreateActivity"/>
        <activity android:name=".feature_service.ui.CustomServiceDetailActivity"/>
        <activity android:name=".feature_item.weapon_property.ui.WeaponPropertyListActivity"/>
        <activity android:name=".feature_item.weapon_property.ui.WeaponPropertyDetailActivity"/>
        <activity android:name=".feature_item.weapon_property.ui.CustomWeaponPropertyCreateActivity"/>
        <activity android:name=".feature_item.weapon_property.ui.CustomWeaponPropertyDetailActivity"/>
        <activity android:name=".feature_item.item_rarity.ui.ItemRarityListActivity"/>
        <activity android:name=".feature_item.item_rarity.ui.ItemRarityDetailActivity"/>
        <activity android:name=".feature_item.item_rarity.ui.CustomItemRarityCreateActivity"/>
        <activity android:name=".feature_item.item_rarity.ui.CustomItemRarityDetailActivity"/>
        <activity android:name=".feature_alignment.ui.AlignmentListActivity"/>
        <activity android:name=".feature_alignment.ui.AlignmentDetailActivity"/>
        <activity android:name=".feature_alignment.ui.CustomAlignmentCreateActivity"/>
        <activity android:name=".feature_alignment.ui.CustomAlignmentDetailActivity"/>
        <activity android:name=".feature_ability.ui.AbilityListActivity"/>
        <activity android:name=".feature_ability.ui.AbilityDetailActivity"/>
        <activity android:name=".feature_ability.ui.CustomAbilityCreateActivity"/>
        <activity android:name=".feature_ability.ui.CustomAbilityDetailActivity"/>
        <activity android:name=".feature_ability.ui.CustomSkillCreateActivity"/>
        <activity android:name=".feature_ability.ui.CustomSkillDetailActivity"/>
        <activity android:name=".feature_ability.ui.SkillDetailActivity"/>
        <activity android:name=".feature_damage_types.ui.DamageTypeListActivity"/>
        <activity android:name=".feature_damage_types.ui.DamageTypeDetailActivity"/>
        <activity android:name=".feature_damage_types.ui.CustomDamageTypeCreateActivity"/>
        <activity android:name=".feature_damage_types.ui.CustomDamageTypeDetailActivity"/>
        <activity android:name=".feature_item.ui.CustomItemCreateActivity"/>
        <activity android:name=".feature_item.ui.CustomItemDetailActivity"/>
        <activity android:name=".feature_item.ui.ItemDetailActivity"/>
        <activity android:name=".feature_item.ui.ItemListActivity"/>
        <activity android:name=".feature_background.ui.BackgroundListActivity"/>
        <activity android:name=".feature_background.ui.BackgroundDetailActivity"/>
        <activity android:name=".feature_background.ui.CustomBackgroundCreateActivity"/>
        <activity android:name=".feature_background.ui.CustomBackgroundDetailActivity"/>
        <activity android:name=".feature_species.ui.SpeciesListActivity"/>
        <activity android:name=".feature_species.ui.SpeciesDetailActivity"/>
        <activity android:name=".feature_species.ui.CustomSpeciesCreateActivity"/>
        <activity android:name=".feature_species.ui.CustomSpeciesDetailActivity"/>
        <activity android:name=".feature_creature.ui.CustomCreatureCreateActivity"/>
        <activity android:name=".feature_creature.ui.CustomCreatureDetailActivity"/>
        <activity android:name=".feature_creature.ui.CreatureDetailActivity" />
        <activity android:name=".feature_creature.ui.CreatureListActivity" />
        <activity android:name=".feature_spell.ui.SpellListActivity" />
        <activity android:name=".feature_spell.ui.SpellDetailActivity" />
        <activity android:name=".feature_spell.ui.CustomSpellCreateActivity"/>
        <activity android:name=".feature_spell.ui.CustomSpellDetailActivity"/>
        <activity android:name=".feature_dice.ui.RollDiceActivity" />
        <activity android:name=".feature_character.ui.list.CharacterListActivity"/>
        <activity android:name=".feature_language.ui.language_list.LanguageListActivity"/>
        <activity android:name=".feature_language.ui.language_details.LanguageDetailActivity"/>
        <activity android:name=".feature_class.ui.ClassListActivity"/>
        <activity android:name=".feature_class.ui.ClassDetailActivity"/>
        <activity android:name=".feature_class.ui.ClassCreateActivity"/>
        <activity android:name=".feature_class.ui.FeatureEditorActivity"/>
        <activity android:name=".feature_language.ui.language_create.CustomLanguageCreateActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:parentActivityName=".feature_language.ui.language_details.LanguageDetailActivity"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".feature_language.ui.language_details.LanguageDetailActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>